<div class="row">
  <div class="col-md-4 dark-body">
    <h2 class="hello">Hello Nick,</h2>
    <h2 class="intro">What can we create today?</h2>
    <div style="margin-bottom:50px;"> <a href="/projects/start/" class="blue-btn-lg">New Project</a></div>
    <p style="color: #fff;">Plan: <%= @current_plan_name %></p>

<% if @current_plan_hours < @total_used_hours %>

<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:100%">
  </div>
</div>

<% else %>


    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width:<%= @total_used_hours * 100 / @current_plan_hours %>%">
      </div>
    </div>

<% end %>

<p style="color: #fff; text-align: right;">Hours Used: <%= @total_used_hours %></p>
<p style="color: #fff; text-align: right;">Hours Available: <%= @current_plan_hours %></p>
  </div>
  <div class="col-md-8 light-body">

  <%  if @projects.count > 0 %>

    <h1 class="page-title">My Projects</h1>
    <table class="table table-hover projects-table">
      <tr>
      </tr>

      <% @projects.each do |project| %>

    <%  if project.status == "Completed" %>
  <%       status_label = "success" %>
  <%     elsif project.status == "In Progress" %>
  <%       status_label = "warning" %>
  <%     elsif project.status == "In Revision" %>
  <%       status_label = "warning" %>
<%       else %>
<%         status_label = "default" %>
<%       end %>


      <tr>
        <td style="width: 100px;"><a href="/projects/<%= project.id %>"><span class="label label-<%= status_label %>"><%= project.status %></span></td></a>
        <td><a href="/projects/<%= project.id %>" class="table-name"><%= project.title %></td><a>
        <td style="text-align: right;"><a href="/projects/<%= project.id %>"><%= project.hours.to_i %> hours</td></a>
      </tr>
      <% end %>
    </table>

    <%       else %>

  <h1 class="page-title">Choose a Project</h1>

    <a class="project_type_select" href="/projects/new?project_type=Website+Update"><i class="fa fa-desktop" aria-hidden="true"></i><br>Website<br>Update</a>

    <a class="project_type_select" href="/projects/new?project_type=Logo+%2F+Branding"><i class="fa fa-bolt" aria-hidden="true"></i><br>Logo /<br>Branding</a>

    <a class="project_type_select" href="/projects/new?project_type=Slide+Decks+%2F+Presentations"><i class="fa fa-slideshare" aria-hidden="true"></i><br>Slide Decks /<br>Presentations</a>

    <a class="project_type_select" href="/projects/new?project_type=Social+Media+Postings"><i class="fa fa-facebook-square" aria-hidden="true"></i><br>Social Media<br>Postings</a>

    <a class="project_type_select" href="/projects/new?project_type=Digital+Marketing"><i class="fa fa-bullhorn" aria-hidden="true"></i><br>Digital<br>Marketing</a>

    <a class="project_type_select" href="/projects/new?project_type=Flyers%2C+Cards+or+Brochures"><i class="fa fa-file-o" aria-hidden="true"></i><br>Flyers, Cards<br>or Brochures</a>

    <a class="project_type_select" href="/projects/new?project_type=Graphics+%2F+Icons"><i class="fa fa-codepen" aria-hidden="true"></i><br>Graphics /<br>Icons</a>

    <a class="project_type_select" href="/projects/new?project_type=Search+Engine+Optimization"><i class="fa fa-search" aria-hidden="true"></i><br>Search Engine<br>Optimization</a>

    <a class="project_type_select" href="/projects/new?project_type=UI+%2F+UX"><i class="fa fa-mobile" aria-hidden="true"></i><br>UI /<br>UX</a>

    <a class="project_type_select" href="/projects/new?project_type=Email+Marketing"><i class="fa fa-envelope-o" aria-hidden="true"></i><br>Email<br>Marketing</a>

    <a class="project_type_select" href="/projects/new?project_type=Something+Else"><i class="fa fa-lightbulb-o" aria-hidden="true"></i><br>Something<br>Else</a>


    <%       end %>



  </div>
</div>

<div class="row">
</div>
